.footer {
	a{
		color: #fff;
		font-size:14px;
	}
	.admin{
		a{
			color: #0088CC;
		}
	}
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;

  .footer-links {
    margin: 20px 0 10px 0;
    li {
      display: inline;
      position: relative;
      &.muted {
        color: #999999;
        font-size: 13px;
        margin: 0px 5px;
      }

    }

  }

}
